.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
}

@media all and (max-width: 1024px) {
    .education {
        margin-bottom: 60px;
    }
}