.skills__title {
    width: 724px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 128.4%;
  color: #000000;
  margin: 0;
  margin-bottom: 70px;
  margin-left: 50px;
  margin-right: 50px;
}
