.education__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../../images/фото1.png);
  background-repeat: no-repeat;
  background-size: 495px 100%;
  background-position: right;
}
