.description__requirement-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
  margin-top: 50px;
}

@media all and (max-width: 1024px) {
  .description__requirement-name {
    font-size: 18px;
    width: 270px;
    text-align: left;
    margin-left: 30px;
  }
}
