.description__li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 128.4%;
  color: #ffffff;
  margin-bottom: 20px;
  background-image: url(../../../images/checkmark\ 1.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}

.description__li:last-of-type {
    margin-bottom: 0;
}