.about__course {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: #666666;
  border: 1px solid #666666;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 40px;
}

.about__course:last-of-type {
  margin-right: 0;
}

@media all and (max-width: 1024px) {
  .about__course {
    height: 56px;
    padding: 0;
    margin-right: 0px;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
  }
  .about__course:nth-of-type(3) {
    width: 110px;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  }
}
