.education__text {
  width: 447px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  color: #202020;
  margin: 0;
}

@media all and (max-width: 1024px) {
  .education__text {
    font-size: 15px;
    width: 300px;
    text-align: center;
  }
}
