.description__requirements-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0a0a0a;
  padding-bottom: 120px;
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 50px;
}

@media all and (max-width: 1024px) {
  .description__requirements-container {
    width: 100%;
    padding: 0;
    padding-top: 90px;
  }
}
