.about-us__social-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  margin-bottom: 170px;
}

@media all and (max-width: 1024px) {
  .about-us__social-box {
    height: 100%;
  }
}