.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 170px;
}

@media all and (max-width: 1024px) {
  .team {
    margin-bottom: 120px;
  }
}