.header__burger-menu {
  display: none;
}

@media all and (max-width: 1024px) {
  .header__burger-menu {
    display: block;
    width: 65px;
    height: 65px;
    justify-self: flex-end;
    background-image: url(../../../images/menu\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
}
