.about-us__header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 128.4%;
  color: #c8c8c8;
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
}
